<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="all.css">
    <script src="assets/js/all.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script defer src="assets/js/script.js"></script> -->
    <!-- cdn for libraries -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="https://unpkg.com/scrollreveal"></script>
    <script defer src="assets/js/script.js"></script>

    <title>Pricing - BootsApp</title>
    
</head>
<body>
        <nav class="navbar navbar-expand-md bg-secondary navbar-dark fixed-top shadow">
            <img class="mb-4" src="assets/img/logo.png" alt="" width="50" height="50">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                  <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="home.html"><i class="fas fa-home fa-lg d-md-none pr-2 "></i>Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="about.html"><i class="fas fa-info-circle fa-lg d-md-none pr-2"></i> About</a>
                    </li>  
                    <li class="nav-item">
                      <a class="nav-link active" href="#"><i class="fas fa-rupee-sign fa-2x d-md-none pr-2"></i> Pricing</a>
                    </li> 
                    <li class="nav-item">
                      <a class="nav-link" href="login.html"><i class="fas fa-user fa-lg d-md-none pr-2"></i> Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="signup.html"><i class="fas fa-edit fa-lg d-md-none pr-2"></i>Signup</a>
                    </li>
          
                  </ul>
                </div>
            </nav>
        <div class="row no-gutters bg-light position-relative">
            <div class="col-md-6 mb-md-0 p-md-4">
                <img src="assets/img/istoric131.jpg" class="w-100" alt="...">

            </div>


                    <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
                        <h4 id="list-item-1">Scurt istoric</h4>
                        <p>Gimnaziul  cu profil teatral “Ion Luca Caragiale”își  desfăşoară activitatea având ca bază conceptuală actele reglatoare emise de către Parlamentul şi Guvernul RM, Ministerul Educaţiei, Culturii și Cercetării ,  DGETS mun. Chişinău şi DETS Râşcani.

                            Înfiinţarea instituţiilor preuniversitare cu profil  teatral a reprezentat o necesitate pentru ridicarea pe o treaptă superioară de pregătire a elevilor, chemată să contribuie la progresul societăţii noastre.

                            Profilul teatral al gimnaziului  a luat fiintă în anul 1999, conform  ordinului Nr. 917 din  08.07.1999 “ Despre  deschiderea  claselor cu  profil  teatral  în şcoala primară  română  Nr. 2”,  instituţiei  i s-a  permis  selectarea  prin testare  a câte  o clasă  cu profil  teatral  (30 elevi ) din  contingentul  claselor  II-IV –a   existente în  şcoală în  perioada  23-25.08.99.

                            În scopul  creării  condiţiilor  optime  pentru  desfăşurarera procesului  educaţional  în înstituţie  şi asigurării  funcţionării  instrumentelor  şi mecanismelor  de realizare  a  principiilor  politicii  educaţionale  reflectate  în concepţia  dezvoltării  învăţământului  şi în legea  învăţământului, Primăria municipiului Chişinău a decis  să reorganizeze, de la 01.09.2000 şcoala primară  română Nr. 2  în GIMNAZIUL CU PROFIL TEATRAL .

                            La  31 ianuarie 2002 gimnaziului  i s-a  conferit  numele   dramaturgului  şi  prozatorului  Ion Luca  Caragiale  ( Decizia primăriei  Nr. 3/5   de la  31.01.2002)</p>
                        <h4 id="list-item-4"> Argumentări :</h4>
<                   <p> întemeierea şi funcţionarea  unei instiuţii  preuniversitare  cu  profil teatral  cu predare în limba română ;
                        dorinţa copiilor de a se  manifesta performant  pe scenă ;
                        intenţia de  perfecţionare  şi cizelare  a tehnicii  exterioare  a vorbirii şi a  expresiei  artistice  a cuvântului;
                        cinstirea clasicului naţional   Ion Luca Caragiale ,  numele căriua  nu-l poartă nici o   instituţie de învăţămint din municipiu;</p>
                        </p>
                    </div>
                    <!-- Footer -->
                    <div class="container-fluid bg-dark text-white pb-4">
                        <div class="row p-4">
                            <div class="col-md-4 col-sm-12 text-center">
                                <ul class="list-unstyled">
                                    <li class="list-header" style="font-size: 1.5rem;">Developer</li>
                                    <li><div class="divider bg-light" ></div></li>
                                    <li><a href="#" class="btn text-white">Developer's API</a></li>
                                    <li><a href="#" class="btn text-white">Get Your API key</a></li>
                                    <li><a href="#" class="btn text-white">OAuth Key</a></li>
                                    <li><a href="#" class="btn text-white">Pricing</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-12 text-center">
                                <ul class="list-unstyled ">
                                    <li class="list-header" style="font-size: 1.5rem;">Support</li>
                                    <li><div class="divider bg-light" ></div></li>
                                    <li><a href="#" class="btn text-white">Troubleshoot</a></li>
                                    <li><a href="#" class="btn text-white">Questions</a></li>
                                    <li><a href="#" class="btn text-white">Report a bug</a></li>
                                    <li><a href="#" class="btn text-white">Help</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-12 text-center">
                                Follow us on
                                <ul class="list-unstyled list-inline social-icons mt-1">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-2x fa-facebook-square"></i></a> </li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-2x fa-google"></i></a> </li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-2x fa-twitter-square"></i></a> </li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-2x fa-instagram"></i></a> </li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-medium fa-2x"></i></a></li>
                                </ul>
                            </div>

                        </div>


                    </div>
</body>
</html>